{% extends "base.html" %}


{% block content %}
    <div class="col-md-8 mx-auto">
        {% for post in posts %}
            <div class="card rounded-3 shadow-sm mb-4">
                {% if post.photo %}
                    <img class="card-img-top" src="{{ post.photo }}">
                {% endif %}

                <div class="card-body">
                    <h4>{{ post.title }}</h4>
                    <p>{{ post.date }}</p>
                    {% if post.text %}
                        <p>{{ post.text }}</p>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
